@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-open-sans: 'Open Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.font-open-sans {
  font-family: var(--font-open-sans);
}

body {
  background-color: #5c5c5c;
  color: #ffffff;
  font-family: var(--font-open-sans);
}
